.show-case {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
}

.product-image {
    padding: 50px;
    background: #f0f0f0;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    cursor: move;
}

.product-details {
    padding: 30px;
}

.product-category {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}


.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}
