.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart {
    height: 3em;
    padding: 10px;
    margin-right: 50px;
    border: 1px solid #aaaaaa;
    color: white;
    background: #fbb72c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.shopping-cart span img{
    margin-right: 0.5em;
}
