header {
    display: flex;
    flex-direction: row;
}

.shopping-cart {
    height: 3em;
    padding: 10px;
    border: 1px solid #aaaaaa;
    color: white;
    background: #fbb72c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

