.header {
    position: fixed;
    top: 0;
    width: 98%;
    display: flex;
    flex-direction: column;
}

.sub-header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #72d9c4;
}
/* Adapt for mobile. Header show direction column*/
@media only screen and (max-width: 400px) {  
    .sub-header1 {
        flex-direction: column;
    }
}

.sub-header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #72d9c4;
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 1em;
}
/* Adapt for mobile. Header show direction column*/
@media only screen and (max-width: 400px) {  
    .sub-header2 {
        flex-direction: column;
        align-items: center;
        font-size: small;
        padding-top: 0.2em;
        margin-top: 0.2em;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title span {
    color: #fbb72c;
}
.header-title h3 {
    color: #999;
}    

.shopping-cart {
    height: 3em;
    padding: 10px;
    border: 1px solid #aaaaaa;
    color: white;
    background: #fbb72c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.shopping-cart:hover {
    background: #72d9c4;
    cursor: pointer;
}
.shopping-cart span img{
    margin-right: 0.5em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #72d9c4;
    font-size: small;
    color: white;
    width: 99%;
    height: 40px;
    padding-top: 1em;
}

.right {
    text-align: right;
}
